<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace用作标识mapper的唯一，通常包名+dao接口名 -->
<mapper namespace="com.anyuan.oa.dao.UserMapper">

    <resultMap id="User" type="com.anyuan.oa.model.User">
        <id property="id" column="ID_" />
        <result property="account" column="ACCOUNT_" />
        <result property="openId" column="OPEN_ID_" />
        <result property="chatNick" column="CHATNICK_" />
        <result property="wPassword" column="W_PASSWORD_" />
        <result property="avatarUrl" column="AVATAR_URL_" />

        <result property="userName" column="USERNAME_" />
        <result property="cName" column="CNAME_" />
        <result property="email" column="EMAIL_" />
        <result property="mobile" column="MOBILE_" />
        <result property="password" column="PASSWORD_" />
        <result property="enabled" column="ENABLED_" />
        <result property="deptId" column="DEPT_ID_" />
    </resultMap>

    <select id="findAllUser" resultMap="User">
        SELECT
            a.USERNAME_,
            a.CNAME_,
            a.EMAIL_,
            a.MOBILE_,
            a.PASSWORD_,
            a.ENABLED_,
            b.DEPT_ID_,
            c.*
        FROM
            bdf2_user a
            LEFT JOIN bdf2_user_dept b ON a.USERNAME_ = b.USERNAME_
            LEFT JOIN bdf2_user_wechat c ON a.USERNAME_ = c.ACCOUNT_
        WHERE
            a.ENABLED_ = 1
            AND a.ADMINISTRATOR_ = 0
    </select>

    <select id="findUserByOpenId" resultMap="User">
        SELECT
            *
        FROM
            bdf2_user_wechat
        WHERE
            OPEN_ID_ = #{openId}
    </select>

    <select id="findUserByAccount" resultMap="User">
        SELECT
            a.USERNAME_,
            a.CNAME_,
            a.EMAIL_,
            a.MOBILE_,
            a.PASSWORD_,
            a.ENABLED_,
            b.DEPT_ID_,
            c.*
        FROM
            bdf2_user a
            LEFT JOIN bdf2_user_dept b ON a.USERNAME_ = b.USERNAME_
            LEFT JOIN bdf2_user_wechat c ON a.USERNAME_ = c.ACCOUNT_
        WHERE
            a.ENABLED_ = 1
            AND a.ADMINISTRATOR_ = 0 AND a.USERNAME_ = #{account}
    </select>

    <select id="findUserByDeptId" resultMap="User">
        SELECT
            a.USERNAME_,
            a.CNAME_,
            a.EMAIL_,
            a.MOBILE_,
            a.PASSWORD_,
            a.ENABLED_,
            b.DEPT_ID_,
            c.*
        FROM
            bdf2_user a
            LEFT JOIN bdf2_user_dept b ON a.USERNAME_ = b.USERNAME_
            LEFT JOIN bdf2_user_wechat c ON a.USERNAME_ = c.ACCOUNT_
        WHERE
            a.ENABLED_ = 1
            AND a.ADMINISTRATOR_ = 0 AND b.DEPT_ID_ = #{deptId}
    </select>

    <insert id="insertWeChatUser" parameterType="com.anyuan.oa.model.User">
        INSERT INTO bdf2_user_wechat (ACCOUNT_, OPEN_ID_, CHATNICK_,W_PASSWORD_,AVATAR_URL_) VALUES (#{account},#{openId},#{chatNick},#{wPassword},#{avatarUrl})
    </insert>

    <update id="updateWeChatUser" parameterType="com.anyuan.oa.model.User">
        UPDATE bdf2_user_wechat SET ACCOUNT_=#{account},OPEN_ID_=#{openId},CHATNICK_=#{chatNick},W_PASSWORD_=#{wPassword},AVATAR_URL_=#{avatarUrl} WHERE ID_=#{id}
    </update>
</mapper>